<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title></title>
  <link rel="stylesheet" type="text/css" media="screen" href="index.css" />
</head>
<body>
  <h1>express app with hyperwatch example</h1>
  
  <div class="hyperwatch-full"></div>
  <div class="wrapper">
    <button id="cause-error">Don't click here!</button>
    <button id="get-user">Get User</button>
    <button id="get-unknown">Get Unknown</button>
    <div id="results"></div>
  </div>
  <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
